<section class="bg-section-bg py-24 px-8 min-h-[662.69px]">
    <!--Card Section-->
    <div class="bg-white shadow-card min-h-120 rounded-lg max-w-385.5 mx-auto p-8 flex flex-row gap-8">
        <!--image card-->
        <div class="w-full bg-img-placeholder rounded-lg flex justify-center items-center">
            <!--Image text placeholder-->
            <span class="font-figtree text-text-over-img text-text-img-placeholder font-bold uppercase leading-none tracking-normal">IMAGE</span>
        </div>
        <!--text container-->
        <div class="w-full flex flex-col gap-6">
            <div class="flex flex-col gap-4">
                <!--First title-->
                <span class="flex gap-2">
                    <calendar-icon class="size-6  text-brand-icon"/>
                    <span class="inline-block font-bold text-base leading-6 tracking-normal text-text-main">
                        Lorem ipsum dolor sit amet.
                    </span>
                </span>
                <!--Main title-->
                <h3 class="font-bold text-2xl leading-7 tracking-normal text-text-main">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit</h3>
                <!--Paragraph title-->
                <p class="font-normal text-base leading-6 tracking-normal text-text-main">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                </p>
            </div>
            <button class="ml-auto bg-brand-btn text-white font-inter font-bold text-base leading-6 px-2 py-2 w-30.5 h-10 rounded-lg flex items-center justify-center gap-2.5 hover:brightness-110 transition-all">
                Lorem ipsum.
            </button>
        </div>
    </div>
</section>
