<section class="bg-section-bg py-8 md:py-12 desktop:py-24 px-5 md:px-8 desktop:px-8 min-h-fit xs:min-h-[896.25px] min-[480px]:min-h-fit md:min-h-222 min-[818px]:min-h-fit desktop:min-h-[662.69px]">
    <!--Card Section-->
    <article class="bg-white shadow-card min-h-fit xs:min-h-[832.25px] min-[480px]:min-h-fit md:min-h-198 min-[818px]:min-h-fit desktop:min-h-120 rounded-lg max-w-385.5 mx-auto p-8 md:p-8 desktop:p-8 flex flex-col md:flex-col desktop:flex-row gap-8 md:gap-8 desktop:gap-8">
        <!--image card-->
        <figure class="w-full bg-img-placeholder rounded-lg flex justify-center items-center h-[200.25px] md:h-90 desktop:h-104">
            <!--Image text placeholder-->
            <span class="font-figtree text-text-over-img text-text-img-placeholder font-bold uppercase leading-none tracking-normal">IMAGE</span>
            <figcaption class="sr-only">Image from this article</figcaption>
        </figure>
        <!--text container-->
        <div class="h-full w-full flex flex-col gap-4 md:gap-4 desktop:gap-6">
            <div class="flex flex-col gap-4 md:gap-4 desktop:gap-4">
                <!--First title-->
                <div class="flex gap-2">
                    <img src="image/calendar.svg" alt="Calendar Icon" class="size-6">
                    <span class="inline-block font-bold text-base md:text-base desktop:text-base leading-6 tracking-normal text-text-main">
                        Lorem ipsum dolor sit amet.
                    </span>
                </div>
                <!--Main title-->
                <h3 class="font-bold text-2xl md:text-2xl desktop:text-2xl leading-7 tracking-normal text-text-main">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit</h3>
                <!--Paragraph title-->
                <p class="font-normal text-base md:text-base desktop:text-base leading-6 tracking-normal text-text-main">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id. 
                    <span class="hidden desktop:inline-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.</span>
                </p>
            </div>
            <button type="button" aria-label="Read more lorem ipsum" class="mt-auto ml-auto bg-brand-btn text-white font-inter font-bold text-base leading-6 px-2 py-2 w-30.5 h-10 rounded-lg flex items-center justify-center gap-2.5 hover:brightness-110 transition-all hover:cursor-pointer">
                Lorem ipsum.
            </button>
        </div>
    </article>
</section>
