<main class="min-h-screen bg-sky-300 flex flex-col justify-center items-center font-inter">
  
  <div class="bg-white p-10 rounded-2xl shadow-xl border border-slate-200 space-y-6">
    
    <h1 class="text-gray-800 text-3xl font-bold block w-fit">
      Typography Test Inter Family
    </h1>

    <p class="text-4xl font-thin text-gray-600">Inter Thin 100</p>
    <p class="text-4xl font-extralight text-gray-600">Inter Extra Light 200</p>
    <p class="text-4xl font-light text-gray-600">Inter Light 300</p>
    <p class="text-4xl font-normal text-gray-600">Inter Regular 400</p>
    <p class="text-4xl font-medium text-gray-600">Inter Medium 500</p>
    <p class="text-4xl font-semibold text-gray-600">Inter SemiBold 600</p>
    <p class="text-4xl font-bold text-gray-600">Inter Bold 700</p>
    <p class="text-4xl font-black text-gray-600">Inter Black 900</p>

  </div>

</main>

<router-outlet />
