<!--Card Slider-->
<article class="relative rounded-lg overflow-hidden">
    <!--image card-->
    <figure class="bg-img-placeholder flex justify-center items-center w-71 xs:w-71 md:w-90 desktop:w-[361.5px] h-94.5 xs:h-94.5 md:h-120 desktop:h-120.5">
        <!--Image text placeholder-->
        <span class="font-figtree text-text-over-img text-text-img-placeholder font-bold uppercase leading-none tracking-normal">IMAGE</span>
        <figcaption class="sr-only">Image from this article</figcaption>
    </figure>
    <!--Container Gradient Text-->
    <div class="absolute bottom-0 left-0 w-full h-43.75 bg-gradient-card p-4 flex flex-col justify-between">
        <!--Header Title-->
        <header class="flex flex-col gap-2">
            <h2 class="font-bold text-3xl leading-9.5 tracking-normal text-white">Lorem ipsum</h2>
            <p class="font-normal text-base leading-6 tracking-normal text-white">
                Lorem ipsum dolor sit amet consectetur.
            </p>
        </header>
        <!--Link-->
        <a href="/" class="flex flex-row gap-1 hover:cursor-pointer">
            <span class="inline-block font-bold text-base leading-6 tracking-normal text-white">
                Lorem ipsum
            </span>
            <img src="image/download.svg" alt="Download Icon" class="size-6">
        </a>
    </div>
</article>