<section class="bg-white flex flex-row justify-center py-8 px-5 xs:py-8 xs:px-5 md:py-12 md:px-8 desktop:py-24 desktop:px-8">
    <!--Container Inner-->
    <div class="w-full max-w-385.5 flex flex-col gap-12">
        <!--Title Section-->
        <header class="w-full space-y-6">
            <!--Title-->
            <h1 class="font-bold text-3xl xs:text-3xl md:text-5xl desktop:text-5xl leading-8 xs:leading-8 md:leading-14.5 desktop:leading-14.5 tracking-normal text-black">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</h1>
            <!--Text-->
            <p class="font-normal text-base leading-6 tracking-normal text-black">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.
            </p>
        </header>
        <!--Slider-->
        <slider></slider>
    </div>
</section>
